<div class="container">
  <div class="row">
    <div class="col-md-12">
      <form>
        <div class="form-group d-flex flex-column" style="margin-bottom: 25px;">
          <label for='files1'>Primeira importação</label>
          <input (change)="fileChange1($event)" type="file" name="files1" />
        </div>
        <div class='form-group d-flex flex-column'>
          <label for='files2'>Segunda Importação</label>
          <input (change)="fileChange2($event)" type="file" name="files2" />
        </div>
        <div class='d-flex justify-content-start'>
          <button (click)="onSubmit()" [disabled]="!fileOneLoaded || !fileTwoLoaded" type="button"
              class="btn btn-primary btn-lg">Enviar</button>
        </div>
        <div class="danger" *ngIf="error">
          <div class="alert alert-danger" role="alert">
            Falha ao importar.<br>
            <b>Detalhes: </b> {{errorMsg}}
          </div>
        </div>
        <div class="success" *ngIf="success">
          <div class="alert alert-success" role="alert">
           Importação enviada com sucesso!!!
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
