<div class="container">
  <div class="row">
    <div class="col-md-12">
      <form>
        <div class="form-group d-flex flex-column" style="margin-bottom: 25px;">
          <label for='file1'>First report</label>
          <input (change)="fileChange1($event)" type="file" name="file1" />
        </div>
        <div class='form-group d-flex flex-column'>
          <label for='file2'>Second report</label>
          <input (change)="fileChange2($event)" type="file" name="file2" />
        </div>
        <div class='d-flex justify-content-start'>
          <button (click)="onSubmit()" [disabled]="!fileOneLoaded || !fileTwoLoaded" type="button"
              class="btn btn-primary btn-lg">Send</button>
        </div>
        <div class="danger" *ngIf="error">
          <div class="alert alert-danger" role="alert">
            Failed to import.<br>
            <b>Details: </b> {{errorMsg}}
          </div>
        </div>
        <div class="success" *ngIf="success">
          <div class="alert alert-success" role="alert">
            Import successfull!
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
