/* You can add global styles to this file, and also import other style files */
.dropdown-btn{
    padding-bottom: 6px !important;
    padding-top: 9px !important;
    border: 1.2px solid rgba(204, 204, 204, 0.9) !important;
  
  }
  
  .dropdown-down, .dropdown-up{
    border-left-width: 3px !important;
    border-right-width: 3px !important;
    border-top-width: 8px !important;
    border-top-color: #495057 !important;
    border-bottom-color: #495057 !important;
  }
  
  body{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    background-color: #F4F4F4 !important;
    color: #333;
    font-size: 14px !important;
    overflow-y: scroll;
  }
  
  
  label {
    color: #428bca;
    display: inline-block  !important;
    max-width: 100%  !important;
    margin-bottom: 5px  !important;
    font-weight: 700  !important;
  }
  
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
      /* display: none; <- Crashes Chrome on hover */
      -webkit-appearance: none;
      margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
  }
  
  input[type=number] {
      -moz-appearance:textfield; /* Firefox */
  }
  
  .sla{
    text-align: center;
    width: 140px;
    padding: 1px 40px 1px 40px;
    color: #fff;
    border-radius: 25px;
  }
  
  .sla-danger{
    color: #fff;
    background-color: #d9534f !important;
    border-color: #d43f3a !important;
  }
  
  .sla-warning{
    color: #fff;
    background-color: #f0ad4e !important;
    border-color: #eea236 !important;
  }
  
  .sla-success{
    color: #fff;
    background-color: #5cb85c !important;
    border-color: #4cae4c !important;
  }
  
  .tab-container{
    margin-top: 3%;
  }
  
  .dropdown-toggle-split{
    border: 1px solid #ccc !important;
  }
  
  .btn-default .badge {
    color: #fff;
    background-color: #333;
  }
  .btn-primary {
    color: #fff;
    background-color: #337ab7 !important;
    border-color: #2e6da4 !important;
  }
  .btn-primary:focus,
  .btn-primary.focus {
    color: #fff;
    background-color: #286090 !important;
    border-color: #122b40 !important;
  }
  .btn-primary:hover {
    color: #fff;
    background-color: #286090 !important;
    border-color: #204d74 !important;
  }
  .btn-primary:active,
  .btn-primary.active,
  .open > .dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #286090 !important;
    border-color: #204d74 !important;
  }
  .btn-primary:active:hover,
  .btn-primary.active:hover,
  .open > .dropdown-toggle.btn-primary:hover,
  .btn-primary:active:focus,
  .btn-primary.active:focus,
  .open > .dropdown-toggle.btn-primary:focus,
  .btn-primary:active.focus,
  .btn-primary.active.focus,
  .open > .dropdown-toggle.btn-primary.focus {
    color: #fff;
    background-color: #204d74 !important;
    border-color: #122b40 !important;
  }
  .btn-primary:active,
  .btn-primary.active,
  .open > .dropdown-toggle.btn-primary {
    background-image: none;
  }
  .btn-primary.disabled:hover,
  .btn-primary[disabled]:hover,
  fieldset[disabled] .btn-primary:hover,
  .btn-primary.disabled:focus,
  .btn-primary[disabled]:focus,
  fieldset[disabled] .btn-primary:focus,
  .btn-primary.disabled.focus,
  .btn-primary[disabled].focus,
  fieldset[disabled] .btn-primary.focus {
    background-color: #337ab7 !important;
    border-color: #2e6da4 !important;
  }
  .btn-primary .badge {
    color: #337ab7 !important;
    background-color: #fff;
  }
  .btn-success {
    color: #fff;
    background-color: #5cb85c !important;
    border-color: #4cae4c !important;
  }
  .btn-success:focus,
  .btn-success.focus {
    color: #fff;
    background-color: #449d44 !important;
    border-color: #255625 !important;
  }
  .btn-success:hover {
    color: #fff;
    background-color: #449d44 !important;
    border-color: #398439 !important;
  }
  .btn-success:active,
  .btn-success.active,
  .open > .dropdown-toggle.btn-success {
    color: #fff;
    background-color: #449d44 !important;
    border-color: #398439 !important;
  }
  .btn-success:active:hover,
  .btn-success.active:hover,
  .open > .dropdown-toggle.btn-success:hover,
  .btn-success:active:focus,
  .btn-success.active:focus,
  .open > .dropdown-toggle.btn-success:focus,
  .btn-success:active.focus,
  .btn-success.active.focus,
  .open > .dropdown-toggle.btn-success.focus {
    color: #fff;
    background-color: #398439 !important;
    border-color: #255625 !important;
  }
  .btn-success:active,
  .btn-success.active,
  .open > .dropdown-toggle.btn-success {
    background-image: none;
  }
  .btn-success.disabled:hover,
  .btn-success[disabled]:hover,
  fieldset[disabled] .btn-success:hover,
  .btn-success.disabled:focus,
  .btn-success[disabled]:focus,
  fieldset[disabled] .btn-success:focus,
  .btn-success.disabled.focus,
  .btn-success[disabled].focus,
  fieldset[disabled] .btn-success.focus {
    background-color: #5cb85c !important;
    border-color: #4cae4c !important;
  }
  .btn-success .badge {
    color: #5cb85c !important;
    background-color: #fff;
  }
  .btn-info {
    color: #fff;
    background-color: #5bc0de !important;
    border-color: #46b8da !important;
  }
  .btn-info:focus,
  .btn-info.focus {
    color: #fff;
    background-color: #31b0d5 !important;
    border-color: #1b6d85 !important;
  }
  .btn-info:hover {
    color: #fff;
    background-color: #31b0d5 !important;
    border-color: #269abc !important;
  }
  .btn-info:active,
  .btn-info.active,
  .open > .dropdown-toggle.btn-info {
    color: #fff;
    background-color: #31b0d5 !important;
    border-color: #269abc !important;
  }
  .btn-info:active:hover,
  .btn-info.active:hover,
  .open > .dropdown-toggle.btn-info:hover,
  .btn-info:active:focus,
  .btn-info.active:focus,
  .open > .dropdown-toggle.btn-info:focus,
  .btn-info:active.focus,
  .btn-info.active.focus,
  .open > .dropdown-toggle.btn-info.focus {
    color: #fff;
    background-color: #269abc !important;
    border-color: #1b6d85 !important;
  }
  .btn-info:active,
  .btn-info.active,
  .open > .dropdown-toggle.btn-info {
    background-image: none;
  }
  .btn-info.disabled:hover,
  .btn-info[disabled]:hover,
  fieldset[disabled] .btn-info:hover,
  .btn-info.disabled:focus,
  .btn-info[disabled]:focus,
  fieldset[disabled] .btn-info:focus,
  .btn-info.disabled.focus,
  .btn-info[disabled].focus,
  fieldset[disabled] .btn-info.focus {
    background-color: #5bc0de !important;
    border-color: #46b8da !important;
  }
  .btn-info .badge {
    color: #5bc0de !important;
    background-color: #fff;
  }
  .btn-warning {
    color: #fff;
    background-color: #f0ad4e !important;
    border-color: #eea236 !important;
  }
  .btn-warning:focus,
  .btn-warning.focus {
    color: #fff;
    background-color: #ec971f !important;
    border-color: #985f0d !important;
  }
  .btn-warning:hover {
    color: #fff;
    background-color: #ec971f !important;
    border-color: #d58512 !important;
  }
  .btn-warning:active,
  .btn-warning.active,
  .open > .dropdown-toggle.btn-warning {
    color: #fff;
    background-color: #ec971f !important;
    border-color: #d58512 !important;
  }
  .btn-warning:active:hover,
  .btn-warning.active:hover,
  .open > .dropdown-toggle.btn-warning:hover,
  .btn-warning:active:focus,
  .btn-warning.active:focus,
  .open > .dropdown-toggle.btn-warning:focus,
  .btn-warning:active.focus,
  .btn-warning.active.focus,
  .open > .dropdown-toggle.btn-warning.focus {
    color: #fff;
    background-color: #d58512 !important;
    border-color: #985f0d !important;
  }
  .btn-warning:active,
  .btn-warning.active,
  .open > .dropdown-toggle.btn-warning {
    background-image: none;
  }
  .btn-warning.disabled:hover,
  .btn-warning[disabled]:hover,
  fieldset[disabled] .btn-warning:hover,
  .btn-warning.disabled:focus,
  .btn-warning[disabled]:focus,
  fieldset[disabled] .btn-warning:focus,
  .btn-warning.disabled.focus,
  .btn-warning[disabled].focus,
  fieldset[disabled] .btn-warning.focus {
    background-color: #f0ad4e !important;
    border-color: #eea236 !important;
  }
  .btn-warning .badge {
    color: #f0ad4e !important;
    background-color: #fff;
  }
  .btn-danger {
    color: #fff;
    background-color: #d9534f !important;
    border-color: #d43f3a !important;
  }
  .btn-danger:focus,
  .btn-danger.focus {
    color: #fff;
    background-color: #c9302c !important;
    border-color: #761c19 !important;
  }
  .btn-danger:hover {
    color: #fff;
    background-color: #c9302c !important;
    border-color: #ac2925 !important;
  }
  .btn-danger:active,
  .btn-danger.active,
  .open > .dropdown-toggle.btn-danger {
    color: #fff;
    background-color: #c9302c !important;
    border-color: #ac2925 !important;
  }
  .btn-danger:active:hover,
  .btn-danger.active:hover,
  .open > .dropdown-toggle.btn-danger:hover,
  .btn-danger:active:focus,
  .btn-danger.active:focus,
  .open > .dropdown-toggle.btn-danger:focus,
  .btn-danger:active.focus,
  .btn-danger.active.focus,
  .open > .dropdown-toggle.btn-danger.focus {
    color: #fff;
    background-color: #ac2925 !important;
    border-color: #761c19 !important;
  }
  .btn-danger:active,
  .btn-danger.active,
  .open > .dropdown-toggle.btn-danger {
    background-image: none;
  }
  .btn-danger.disabled:hover,
  .btn-danger[disabled]:hover,
  fieldset[disabled] .btn-danger:hover,
  .btn-danger.disabled:focus,
  .btn-danger[disabled]:focus,
  fieldset[disabled] .btn-danger:focus,
  .btn-danger.disabled.focus,
  .btn-danger[disabled].focus,
  fieldset[disabled] .btn-danger.focus {
    background-color: #d9534f !important;
    border-color: #d43f3a !important;
  }
  .btn-danger .badge {
    color: #d9534f !important;
    background-color: #fff;
  }
  .btn-link {
    font-weight: normal;
    color: #337ab7 !important;
    border-radius: 0;
  }
  .btn-link,
  .btn-link:active,
  .btn-link.active,
  .btn-link[disabled],
  fieldset[disabled] .btn-link {
    background-color: transparent;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .btn-link,
  .btn-link:hover,
  .btn-link:focus,
  .btn-link:active {
    border-color: transparent;
  }
  .btn-link:hover,
  .btn-link:focus {
    color: #23527c !important;
    text-decoration: underline;
    background-color: transparent;
  }
  .btn-link[disabled]:hover,
  fieldset[disabled] .btn-link:hover,
  .btn-link[disabled]:focus,
  fieldset[disabled] .btn-link:focus {
    color: #777;
    text-decoration: none;
  }
  .btn-lg,
  .btn-group-lg > .btn {
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 6px;
  }
  .btn-sm,
  .btn-group-sm > .btn {
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
  }
  .btn-xs,
  .btn-group-xs > .btn {
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
  }
  .btn-block {
    display: block;
    width: 100%;
  }
  .btn-block + .btn-block {
    margin-top: 5px;
  }
  input[type="submit"].btn-block,
  input[type="reset"].btn-block,
  input[type="button"].btn-block {
    width: 100%;
  }
  